@media screen and (max-width: 1440px){
    .container {
        position: absolute;
        width: 80%;
        height: 85%;
        left: 5%;
        top: 7.5%;

        background: #F2F2F2;
        border-radius: 20px;
        /*max-width: 1340px;*/
    }
}
.box{
    position: fixed;
    width: 95%;
    height: 85%;
    left: 3%;
    top: 7.5%;

    background: #444A52;
    border-radius: 20px;
    /*max-width: 1340px;*/
    max-height: 620px;
}
.container {
    position: absolute;
    width: 94%;
    height: 85%;
    left: 3%;
    top: 7.5%;

    background: #F2F2F2;
    border-radius: 20px;
    /*max-width: 1340px;*/
}
h1{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #333333;
    position: absolute;
    width: 30%;
    height: 5.5%;
    left: 35%;
}


@media screen and (max-width: 1024px) {
    .box{
        height: 512px;
    }
    .container{
        top: 7.5%;
        height: 85%;
    }
}