::placeholder{
    color: white;
}
.inputA{
    position: absolute;
    width: 27%;
    height: 70%;
    left: 4.5%;
    top: 15.5%;
}
.inputB{
    position: absolute;
    width: 61%;
    height: 70%;
    top: 15.5%;
    left: 35%;
}
input{
    position: relative;
    width: 95%;
    height: 10%;
    margin-bottom: 2.1%;
    display: flex;
    background: #32B482;
    border-radius: 20px;
    border: none;
    font-family: Open Sans, serif;
    font-size: 18px;
    padding-left: 5%;
    color: #FFFFFF;
}
select{
    position: relative;
    width: 100%;
    height: 10.5%;
    margin-bottom: 2.5%;
    display: flex;
    background: #32B482;
    border-radius: 20px;
    border: none;
    font-family: Open Sans, serif;
    font-size: 18px;
    padding-left: 5%;
    color: #FFFFFF;
}
button{
    position: absolute;
    width: 26.8%;
    height: 7%;
    left: 37.3%;
    top: 90%;
    font-family: Open Sans, serif;
    font-weight: 600;
    border: none;
    font-size: 18px;
    text-align: center;
    color: #F2F2F2;
    background: #32B381;
    border-radius: 20px;
}
.hobby{
    background: #32B482;
    width: 100%;
    height: 50%;
    border-radius: 35px;
    position: absolute;
}
.reason{
    background: #32B482;
    width: 100%;
    height: 49%;
    top: 51%;
    border-radius: 35px;
    position: absolute;
}
textarea{
    position: absolute;
    width: 70%;
    left: 27%;
    margin-top: 3%;
    height: 72%;
    resize: none;
    border: none;
    background: #32B482;
    color: white;
    font-size: 15px;
}
.text{
    position: absolute;
    width: 23%;
    left: 2%;
    margin-top: 5%;
    text-align: center;
    color: white;
}
@media screen and (width: 1024px){
    .inputA{
        top: 16.5%;
    }
}

@media screen and (max-width: 1024px){

}
